<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>A Flamethrower</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark py-3">
        <div class="container">
            <a href="index.html" class="navbar-brand">The Boring Company</a>
        </div>
    </nav>

    <div class="container">
        {{{body}}}
    </div>

</body>

</html>