<form>
    <div class="container">
      <h2>Welcome to online image editing bootcamp</h2>
      <h2>Please signup your account/ you already have account so click on login tab.</h2>
      <hr>
  
      <label for="name"><b>userName</b></label>
      <input type="text" placeholder="name" name="name" required>
      </br>
      <label for="password"><b>Password</b></label>
      <input id="password" name="password" placeholder="password" type="password" required minlength="8" maxlength="15">
      <br>
      <a href="http://localhost:3000/forgot_pass">Forgotten password</a>
      <div class="clearfix">
        <button type="button" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">signup</button>
      </div>
    </div>
  </form>
  