<form action="/posts" method="POST" enctype="multipart/form-data">
    <div class="input-area">
      <textarea name="post[body]" id="editor" placeholder="Body"></textarea>
    </div>
    <input type="submit" id="submit">
  </form>
  
  <script>
    CKEDITOR.replace('editor')
  </script>