<section class="py-2">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 class="display-3 mt-3 pt-5">
                Not a Flamethrower
            </h1>
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quam rerum velit illum rem vitae. Ea
                doloremque animi tempore commodi illo vero reprehenderit dolorem eaque incidunt sequi alias magnam omnis
                culpa consequatur qui cumque accusantium nihil odit expedita, atque voluptatibus placeat id.
            </p>
            <form action="/purchase" method="POST">
                <script src="https://checkout.razorpay.com/v1/checkout.js" data-key="{{key_id}}" data-amount="50000"
                    data-currency="INR" data-buttontext="Pay Rs 500" data-name="The Boring Company"
                    data-description="Flamethrower" data-image="/img/tbcLogo.jpg"></script>

            </form>
        </div>

        <div class="col-md-6">
            <img src="/img/flamethrower.jpg" alt="not" class="img-fluid">
        </div>
    </div>
    <br><br><br>
    <div class=container-fluid">
        Sone test cards are as follow <br>
        Matsercard:  5104_0155_5555_5558 , 5104_0600_0000_0008<br>
        Visa: 4111_1111_1111_1111<br>
        Please remove _ from the terst card numbers
    </div>
</section>