<div class="jumbotron">
    <h1 class="display-4">Success</h1>
    Thank you for the payment. The product will be reaching you in a week.

    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/" role="button">Back to index page</a>
    </p>
</div>
