<!DOCTYPE html>
<html lang="en">
    
<head>
        <meta charset="utf-8">
        
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>ookul.co</title>

        <!-- Favicon and touch icons -->
        <!-- <link rel="shortcut icon" href="upload/<?php echo $web_info['favicon']; ?>" type="image/x-icon"> -->
        <!-- <link rel="apple-touch-icon" type="image/x-icon" href="upload/<?php echo $web_info['favicon']; ?>"> -->
        <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="assets/dist/img/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="assets/dist/img/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="assets/dist/img/ico/apple-touch-icon-144-precomposed.png">

        <!-- Start Global Mandatory Style
        =====================================================================-->
        <link href="assets/dist/css/base.css" rel="stylesheet" type="text/css"/>
        <!-- End Global Mandatory Style
        =====================================================================-->
        <!-- Start page Label Plugins 
        =====================================================================-->
        <!-- summernote css -->
        <link href="assets/plugins/summernote/summernote.css" rel="stylesheet" type="text/css"/>
        <!-- End page Label Plugins 
        =====================================================================-->
        <!-- Start Theme Layout Style
        =====================================================================-->
        <!-- Theme style -->
        <link href="assets/dist/css/component_ui.min.css" rel="stylesheet" type="text/css"/>
        <!-- Theme style rtl -->
        <!--<link href="assets/dist/css/component_ui_rtl.css" rel="stylesheet" type="text/css"/>-->
        <!-- Custom css -->
        <link href="assets/dist/css/custom.css" rel="stylesheet" type="text/css"/>
        <!-- End Theme Layout Style
        =====================================================================-->
    </head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<body>
    <div class="wrapper animsition">
        <!-- main header -->
        <header class="main-header"><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
            <!-- top navigation -->
            <nav class="navbar top-nav">
                <div class="container">
                    <div class="navbar-header hidden-xs">
                        <a class="navbar-brand" href="deshabord"> <img src="upload/<?php echo $web_info['logo']; ?>" alt=""></a>
                    </div>
                    <!-- Start Atribute Navigation -->
                    <div class="attr-nav" style="margin-left:625px;">
                        <ul>
                           <h4 style="    text-align: center;
color: white;
padding-top: 10px;font-weight: 700;">Last Login - <?php echo $admin['last_login']; ?></h4>
                        </ul>
                    </div>
                    <!-- End Atribute Navigation -->
                    <!-- /.navbar-header -->
                    <ul class="nav navbar-top-links navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="" aria-expanded="false">
                                <i class="dropdowm-icon ti-email"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu dropdown-messages">
                                <li class="rad-dropmenu-header"><a href="">New Messages</a></li>
<!-- 
$row=$obj->fetchcontactByorder("contact_us");
if($row){
while($rs=mysqli_fetch_assoc($row)){
$row77=$obj->fetchById($rs['user_id'],"user_register","id");
-->
                                <li>
                                    <a href="contactus" class="rad-content">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img"><img src="assets/dist/img/avatar4.png" class="img-circle" alt=""></div>
                                            <strong class="inbox-item-author"><?php echo $row77['name']; ?></strong>
                                            <span class="inbox-item-date">-<?php echo $rs['date']; ?></span>
                                            <p class="inbox-item-text"><?php echo $rs['title']; ?></p>
                                            <span class="profile-status offline pull-right"></span>
                                        </div>
                                    </a>
                                </li>
                            <?php }} ?>
                                <li class="rad-dropmenu-footer"><a href="contactus">View All messages</a></li>
                            </ul>
                            <!-- /.dropdown-messages -->
                        </li>
                                                   <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="logout">
                                <i class="dropdowm-icon ti-settings"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="profile.php"><i class="ti-user"></i>&nbsp; Profile</a></li>
                                
                                <li><a href="logout.php"><i class="ti-layout-sidebar-left"></i>&nbsp; Logout</a></li>
                            </ul>
                        </li> <!-- /.dropdown -->
                    </ul> <!-- /.navbar-top-links -->
                </div> <!-- /. container -->
            </nav> <!-- /. top navigation -->
            <nav class="navbar navbar-default navbar-mobile navbar-sticky bootsnav">
                <!-- Start Top Search -->
                <div class="top-search">
                    <div class="container">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="ti-search"></i></span>
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-addon close-search"><i class="ti-close"></i></span>
                        </div>
                    </div>
                </div>
                <!-- End Top Search -->
                <div style="margin-left: 0%;">
                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand hidden-md hidden-lg" href="brand"><img style="width:100px; height:50px;" src="../admin/upload/<?php echo $web_info['logo']; ?>" class="logo" alt=""></a>
                    </div>
                    <!-- End Header Navigation -->
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-left" data-in="" data-out="">
                           
                           
                                <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="ti-layout"></i> Category</a>
                                <ul class="dropdown-menu">
                                    <li><a href="add_class.html"><i class="fa fa-table"></i>Add Category</a></li>
                                    <!-- <li><a href="add_subject.html"><i class="fa fa-table"></i>Subject</a></li> -->
                                    <!-- <li><a href="chapter.html"><i class="fa fa-table"></i>Chapter</a></li> -->
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user-circle" aria-hidden="true"></i> Teacher</a>
                                <ul class="dropdown-menu">
                                 <li><a href="user_list.html"><i class="fa fa-user-plus" aria-hidden="true"></i>teacher List
                                 </a></li>
                                 
                                   
                                </ul>
                            </li>
                            
                             <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-paragraph" aria-hidden="true"></i> Topic</a>
                                <ul class="dropdown-menu">
                                    <li><a href="add_topic.html"><i class="fa fa-paragraph" aria-hidden="true"></i>Add Topic</a></li>
                                    <li><a href="topic_wise_video.html"><i class="fa fa-paragraph" aria-hidden="true"></i>Topic wise video</a></li>
                                    
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-text-width" aria-hidden="true"></i> Test&Unit</a>
                                <ul class="dropdown-menu">
                                  <li><a><b>Test Question</b></a></li>
                                   <!--<li><a href="question_answer"><i class="ti-layout-tab-window"></i>Question And Answer</a></li>-->
                                   <li><a href="question_answer_new.html"><i class="ti-layout-tab-window"></i>Question And Answer</a></li>
                                   
                                    <li><a href="multipal_question.html"><i class="ti-layout-width-default"></i> Multipal Question And Answer</a></li>
                                    <li><a href="multipal_question_bulk.html"><i class="ti-layout-width-default"></i>Bulk Upload Question And Answer</a></li> 
                                    <li><a href="question_tru_false.html"><i class="ti-close"></i>True False Question</a></li>
                                    
                                    <li><a><b>Unit Test</b></a></li>
                                     <li><a href="unit_question.html"><i class="fa fa-question-circle" aria-hidden="true"></i>Unit Test Question</a></li> 
                                   <li><a href="unit_answer.html"><i class="ti-layout-tab-window"></i>Unit Test Answer</a></li>
                                </ul>
                            </li>
                            <!----unit--->
                            
                                     <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-inr" aria-hidden="true"></i>Price & Coupan</a>
                                <ul class="dropdown-menu">
                                    <li><a><b>Price</b></a></li>
                                    <li><a href="price.html"><i class="fa fa-gift" aria-hidden="true"></i>Add Price Plan</a></li>
                                      <li><a href="price_plan.html"><i class="fa fa-gift" aria-hidden="true"></i>Price Plan Image</a></li>
                                      
                                     
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="ti-layers"></i>Result&Report</a>
                                <ul class="dropdown-menu">
                                    <li><a><b>Result</b></a></li>
                                     <li><a href="result_list.html"><i class="fa fa-list" aria-hidden="true"></i>Result List</a></li>
                                     <li><a><b>Report</b></a></li>
                                    <li><a href="user_payment_conform_list.html"><i class="fa fa-key"></i>User Report</a></li>
                                    
                                    
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="ti-layers"></i>Ebook</a>
                                <ul class="dropdown-menu">
                                    <li><a > <b>
                                    Add Ebook</b></a></li>
                                     <li><a href="ebook.html"><i class="fa fa-list" aria-hidden="true"></i>Ebook </a></li>
                                </ul>
                            </li>
                           
                            
                            
                            
                             
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- Start Side Menu -->
                
                <!-- End Side Menu -->
            </nav> <!-- /. main navigation -->
            <div class="clearfix"></div>
        </header> <!-- /. main header -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <!-- /.content-wrapper -->
            <div class="content-wrapper">
                <div class="container">
                    <!-- main content -->
                    <div class="content">
                        <!-- Content Header (Page header) -->
                        <div class="content-header">
                            <div class="header-icon">
                                <i class="fa fa-inr" aria-hidden="true"></i>
                            </div>
                            <div class="header-title">
                                <h1>Price </h1>
                                <small>Add Price <a href="https://1000hz.github.io/bootstrap-validator/" target="_blank"></a> </small>
                                <ol class="breadcrumb">
                                    <li><a href="deshabord.html"><i class="pe-7s-home"></i> Home</a></li>
                                    <li><a href="price_list.html">Price List</a></li>
                                    <li class="active">Price</li>
                                </ol>
                            </div>
                        </div> <!-- /. Content Header (Page header) -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-bd lobidrag">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <h4>Add Price</h4>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <form data-toggle="validator" action="price_sub.php" method="post">
											<div class="form-group">
                                                <label for="exampleSelect1">Class</label>
												
                                                <select class="form-control" id="exampleSelect1" name="class"  >
												 <option value="">--Class--</option>
												<?php
													$table='class';
													$rs=$obj->fetchAllDetailByStatus($table);
													if($rs)
													{	$i=0;
														while($row=mysqli_fetch_assoc($rs))
														{	$i++;
      
															?>
                                                    <option value="<?php echo $row['id']; ?>"><?php echo $row['class'];  ?></option>
													<?php } 
													}
													?>
                                                </select>
														
                                            </div>
											<div class="form-group">
                                                <label for="inputName" class="control-label">Full Price </label>
                                                <input type="text" class="form-control" id="price" name="price" placeholder="Premium Price" required>
											</div>
											<div class="form-group">
                                                <label for="inputName" class="control-label">Full GST(TAX) </label>
                                                <input type="text" class="form-control" id="gst" name="gst" placeholder="Premium gst" required>
											</div>
							<div class="form-group">
                                                <label for="inputName" class="control-label">Normal Price </label>
                                                <input type="text" class="form-control" id="price" name="nprice" placeholder="Normal Price" required>
											</div>
											<div class="form-group">
                                                <label for="inputName" class="control-label">Normal GST(TAX) </label>
                                                <input type="text" class="form-control" id="gst" name="ngst" placeholder="Normal gst" required>
                            </div>				
											
											
											
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary" style="    background: -webkit-linear-gradient(left, #ff771c 0%, #ea00ca 50%,#9d09e9 90%);
    border: 1px solid transparent;
    font-weight: 700;">Add Price</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- /.main content -->
                </div> <!-- /.container -->
            </div> <!-- /.
			-wrapper -->
            <!-- start footer -->

            <footer class="main-footer">
                <div class="container">
                    <div class="pull-right hidden-xs"> <b></b> </div>
                    <strong>Copyright &copy; 2018-2019 <a href="#"><?php echo $web_info['web_name']; ?></a>.</strong> All rights reserved. <i class="fa fa-heart color-green"></i>
                </div>
            </footer> <!-- /. footer -->
        </div> <!-- ./wrapper -->
        <!-- jQuery -->
      <!--  <script data-cfasync="false" src="<?php echo $base1;?>../../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/plugins/jQuery/jquery-1.12.4.min.js" type="text/javascript"></script>-->
      
      
        <script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/plugins/jQuery/jquery-1.12.4.min.js" type="text/javascript"></script>
        <!-- jquery-ui -->
        <script src="<assets/plugins/jquery-ui-1.12.1/jquery-ui.min.js" type="text/javascript"></script>
        <!-- Bootstrap js -->
        <script src="assets/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <!-- lobipanel js -->
        <script src="assets/plugins/lobipanel/lobipanel.min.js" type="text/javascript"></script>
        <!-- animsition js -->
        <script src="assets/plugins/animsition/js/animsition.min.js" type="text/javascript"></script>
        <!-- bootsnav js -->
        <script src="assets/plugins/bootsnav/js/bootsnav.js" type="text/javascript"></script>
        <!-- SlimScroll js -->
        <script src="assets/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <!-- FastClick js-->
        <script src="assets/plugins/fastclick/fastclick.min.js" type="text/javascript"></script>
        <!-- End Core Plugins
        =====================================================================-->
        <!-- Start Page Lavel Plugins
        =====================================================================-->
        <!-- summernote js -->
        <script src="assets/plugins/summernote/summernote.min.js" type="text/javascript"></script>
        <!-- Start Theme label Script
        =====================================================================-->
        
        <!-- Dashboard js -->
        <script src="assets/dist/js/dashboard.js" type="text/javascript"></script>
        <!-- End Theme label Script
        =====================================================================-->
        <script>
            $(document).ready(function () {
                "use strict"; // Start of use strict
                //summernote
                $('#summernote').summernote({
                    height: 300, // set editor height
                    minHeight: null, // set minimum height of editor
                    maxHeight: null, // set maximum height of editor
                    focus: true                  // set focus to editable area after initializing summernote
                });
            });
        </script>
        
		 <script src="assets/plugins/datatables/dataTables.min.js" type="text/javascript"></script>
        <!-- Start Theme label Script
        =====================================================================-->
        <!-- Dashboard js -->
        <script src="assets/dist/js/dashboard.js" type="text/javascript"></script>
        <!-- End Theme label Script
        =====================================================================-->
        <script>
            $(document).ready(function () {

                "use strict"; // Start of use strict

                $('#dataTableExample1').DataTable({
                    "dom": "<'row'<'col-sm-6'l><'col-sm-6'f>>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
                    "lengthMenu": [[6, 25, 50, -1], [6, 25, 50, "All"]],
                    "iDisplayLength": 6
                });

                $("#dataTableExample2").DataTable({
                    dom: "<'row'<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>tp",
                    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                    buttons: [
                        {extend: 'copy', className: 'btn-sm'},
                        {extend: 'csv', title: 'ExampleFile', className: 'btn-sm'},
                        {extend: 'excel', title: 'ExampleFile', className: 'btn-sm'},
                        {extend: 'pdf', title: 'ExampleFile', className: 'btn-sm'},
                        {extend: 'print', className: 'btn-sm'}
                    ]
                });

            });
        </script>
    </body>



</html>